#MainPageDiv{
    width: 100%;
    height: 99%;
    padding: 15px;
    overflow-y: scroll;
    background-color: #E9EFF2;
}

#test{
    font-size: 30px;
    font-weight: 600;
    color: #1B4863;
    /*background-color: #DDE7ED;*/
    background-color: #E9EFF2;
}
